:root {
    --background-color: #c6c6c6;
    --background-shade: #939292;

    --button-background: #999999;
    --button-contrast: #333333;
    --button-border-color: #333333;
    --button-hover-background: #333333;
    --button-hover-contrast: #999999;
    --button-hover-border-color: #999999;
    --button-disabled-background-color: #696969;

    --card-background: #ffffff;
    --card-background-shade: rgba(0, 0, 0, 0.03);
    --card-background-contrast: #000000;

    --title-color: #333333;
    --link-color: #007bff;
    --text-color: #333333;

    --primary: #2284f7;
    --primary-shade: #1761b7;
    --primary-contrast: #ffffff;

    --secondary: #03bcfc;
    --secondary-hover: #008bbb;

    --success: #28a745;
    --success-hover: #218838;
    --success-contrast: #ffffff;
    --warning: #ffc107;
    --warning-hover: #e0a800;
    --warning-contrast: #ffffff;
    --danger: #dc3545;
    --danger-hover: #c82333;
    --danger-contrast: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --background-shade: #404040;
        --background-shade-light: #696969;

        --button-background: #000000;
        --button-contrast: #ffffff;
        --button-border-color: #000000;
        --button-hover-background: #696969;
        --button-hover-contrast: #f7f7f7;
        --button-hover-border-color: #696969;
        --button-disabled-background-color: #696969;

        --card-background: #696969;
        --card-background-shade: #404040;
        --card-background-contrast: #ffffff;

        --title-color: #ffffff;
        --link-color: #007bff;
        --text-color: #ffffff;

        --primary: #2284f7;
        --primary-shade: #1761b7;
        --primary-contrast: #ffffff;

        --secondary: #03bcfc;
        --secondary-hover: #008bbb;

        --success: #28a745;
        --success-hover: #218838;
        --success-contrast: #ffffff;
        --warning: #ffc107;
        --warning-hover: #e0a800;
        --warning-contrast: #ffffff;
        --danger: #dc3545;
        --danger-hover: #c82333;
        --danger-contrast: #ffffff;
    }
}